The input parameter for student to predict gpa for 7th and 8th semester could are below
for 7th semester:
- inter grades (optional)
- gpa first semester
- gpa second semester
- gpa third semester
- gpa fourth semester
- gpa fifth semester
- gpa sixth semester

for 8th semester:
- inter grades (optional)
- gpa first semester
- gpa second semester
- gpa third semester
- gpa fourth semester
- gpa fifth semester
- gpa sixth semester
- gpa seventh semester

# creating dataset for next semester grades prediction

In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_excel("Student_semester_wise_GPA.xlsx")

In [3]:
df

       RN  I_MARKS  T_NO Grade of all semesters  sgpa
0       1      906     1                      A  3.59
1       1        0     2                      A  3.68
2       1        0     3                      A  3.87
3       1        0     4                      A  3.57
4       1        0     5                     B+  3.58
...   ...      ...   ...                    ...   ...
1540  289        0     4                     C+  2.74
1541  289        0     5                     C+  2.75
1542  289        0     6                     C+  2.87
1543  289        0     7                     B+  3.32
1544  289        0     8                     C+  2.86

[1545 rows x 5 columns]

In [4]:
ls  = []
df[df['RN'] == 1][:6]

   RN  I_MARKS  T_NO Grade of all semesters  sgpa
0   1      906     1                      A  3.59
1   1        0     2                      A  3.68
2   1        0     3                      A  3.87
3   1        0     4                      A  3.57
4   1        0     5                     B+  3.58
5   1        0     6                     B+  3.64

In [5]:
df['RN'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   9,  10,  11,  12,  13,  14,
        15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
        41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  53,  54,
        55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,
        68,  69,  70,  71,  73,  74,  75,  76,  77,  78,  79,  80,  81,
        82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,
        95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107,
       108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
       121, 123, 124, 125, 126, 127, 201, 202, 203, 204, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 235,
       236, 237, 238, 239, 240, 241, 244, 245, 246, 247, 248, 249, 250,
       251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263,
       264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276,
       277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289],
      dtype=int64)

In [6]:
df[df['RN'] == 1].iloc[6]['sgpa']

3.26

In [7]:
X7 = {'I_no':[],'S1':[],'S2':[],'S3':[],'S4':[],'S5':[],'S6':[]}
Y7 = {"target":[]}
for i in df['RN'].unique():
    
    if len(df[df['RN'] == i]['sgpa']) == 8:
        X7['I_no'].append(df[df['RN']==i]['I_MARKS'].iloc[0])
        for index,value in enumerate(df[df['RN'] == i][:6]['sgpa']):
            X7['S{}'.format(index+1)].append(value)
for i in df['RN'].unique():
    if len(df[df['RN'] == i]['sgpa']) == 8:
        Y7['target'].append(df[df['RN'] == i].iloc[6]['sgpa'])

In [8]:
X7['I_no']

[906,
 905,
 863,
 882,
 904,
 885,
 430,
 447,
 901,
 0,
 871,
 853,
 880,
 841,
 451,
 453,
 843,
 438,
 855,
 895,
 420,
 442,
 849,
 848,
 892,
 846,
 887,
 840,
 0,
 881,
 909,
 893,
 0,
 905,
 844,
 856,
 885,
 914,
 855,
 899,
 839,
 881,
 895,
 754,
 836,
 880,
 819,
 831,
 904,
 889,
 858,
 814,
 885,
 840,
 825,
 883,
 838,
 911,
 806,
 850,
 832,
 860,
 757,
 918,
 844,
 844,
 828,
 857,
 797,
 825,
 879,
 820,
 921,
 877,
 847,
 773,
 815,
 857,
 841,
 899,
 825,
 839,
 780,
 853,
 897,
 838,
 896,
 850,
 820,
 864,
 776,
 863,
 760,
 877,
 846,
 758,
 816,
 859,
 844,
 844,
 844,
 873,
 661,
 195,
 636,
 786,
 873,
 921,
 830,
 702,
 829,
 463,
 936,
 887,
 857,
 857,
 842,
 900,
 826,
 899,
 825,
 0,
 854,
 839,
 839,
 839,
 823,
 880,
 865,
 850,
 835,
 862,
 818,
 862,
 832,
 817,
 816,
 857,
 768,
 782,
 855,
 840,
 882,
 911,
 852,
 822,
 910,
 865,
 849,
 906,
 876,
 846,
 802,
 859,
 845,
 868,
 901,
 738,
 826,
 811,
 811,
 778,
 824,
 824,
 808,
 793,
 821,
 821,
 775,
 777,
 741,
 900,
 864,
 846,
 844,
 783,
 855,
 854,
 858,
 835,
 725,
 849,
 805]

In [9]:
df_7th = pd.concat([pd.DataFrame(X7),pd.DataFrame(Y7)],axis = 1)
print("Train and target variables for 7th semester")
df_7th

Train and target variables for 7th semester

     I_no    S1    S2    S3    S4    S5    S6  target
0     906  3.59  3.68  3.87  3.57  3.58  3.64    3.26
1     905  2.92  2.87  3.09  2.86  2.72  3.17    2.92
2     863  3.09  3.23  3.02  3.21  3.09  2.96    2.88
3     882  2.62  3.09  3.00  2.68  2.65  3.13    3.00
4     904  3.29  3.06  3.19  3.15  3.32  3.30    3.34
..    ...   ...   ...   ...   ...   ...   ...     ...
178   858  2.98  2.59  2.72  3.16  2.94  3.11    3.06
179   835  2.77  2.80  2.85  2.88  2.94  2.68    2.86
180   725  2.87  2.64  2.85  3.02  2.75  3.00    3.00
181   849  3.27  3.43  3.45  3.30  3.35  3.36    3.26
182   805  3.12  2.81  2.68  2.74  2.75  2.87    3.32

[183 rows x 8 columns]

In [10]:
df_7th

     I_no    S1    S2    S3    S4    S5    S6  target
0     906  3.59  3.68  3.87  3.57  3.58  3.64    3.26
1     905  2.92  2.87  3.09  2.86  2.72  3.17    2.92
2     863  3.09  3.23  3.02  3.21  3.09  2.96    2.88
3     882  2.62  3.09  3.00  2.68  2.65  3.13    3.00
4     904  3.29  3.06  3.19  3.15  3.32  3.30    3.34
..    ...   ...   ...   ...   ...   ...   ...     ...
178   858  2.98  2.59  2.72  3.16  2.94  3.11    3.06
179   835  2.77  2.80  2.85  2.88  2.94  2.68    2.86
180   725  2.87  2.64  2.85  3.02  2.75  3.00    3.00
181   849  3.27  3.43  3.45  3.30  3.35  3.36    3.26
182   805  3.12  2.81  2.68  2.74  2.75  2.87    3.32

[183 rows x 8 columns]

In [11]:
df_7th.iloc[:,:-1].describe()

,I_no,S1,S2,S3,S4,S5,S6
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,805.120219,3.069126,3.062350,3.055628,2.980546,3.020055,3.002896
std,159.980963,0.228688,0.285327,0.343550,0.358992,0.395707,0.457744
min,0.000000,2.140000,1.890000,1.440000,0.670000,0.000000,0.000000
25%,817.500000,2.930000,2.910000,2.870000,2.790000,2.800000,2.820000
50%,844.000000,3.100000,3.080000,3.040000,2.990000,3.050000,3.010000
75%,874.500000,3.230000,3.230000,3.260000,3.200000,3.245000,3.270000
max,936.000000,3.590000,3.740000,3.870000,3.860000,3.820000,3.830000

In [12]:
df_7th.iloc[:,:-1].corr()

          I_no        S1        S2        S3        S4        S5        S6
I_no  1.000000  0.081146  0.046536  0.077233  0.101400  0.036989  0.016815
S1    0.081146  1.000000  0.302365  0.367928  0.328496  0.349100  0.304877
S2    0.046536  0.302365  1.000000  0.724270  0.647746  0.642876  0.540834
S3    0.077233  0.367928  0.724270  1.000000  0.748584  0.662057  0.646376
S4    0.101400  0.328496  0.647746  0.748584  1.000000  0.744178  0.776215
S5    0.036989  0.349100  0.642876  0.662057  0.744178  1.000000  0.765873
S6    0.016815  0.304877  0.540834  0.646376  0.776215  0.765873  1.000000

In [13]:
scaled_7thsem = pd.DataFrame(StandardScaler().fit_transform(df_7th.iloc[:,:-1]),
                            columns = df_7th.columns[:-1])
print("Scaled 7th semester data ")
scaled_7thsem = pd.concat([scaled_7thsem,df_7th['target']],axis = 1)
scaled_7thsem

Scaled 7th semester data

,I_no,S1,S2,S3,S4,S5,S6,target
0,0.632304,2.283914,2.170649,2.376960,1.646472,1.418932,1.395653,3.26
1,0.626036,-0.653882,-0.675987,0.100323,-0.336712,-0.760355,0.366061,2.92
2,0.362784,0.091529,0.589184,-0.103991,0.640913,0.177245,-0.093969,2.88
3,0.481874,-1.969313,0.097173,-0.162366,-0.839491,-0.937739,0.278436,3.00
4,0.619768,0.968483,-0.008258,0.392199,0.473320,0.760078,0.650842,3.34
...,...,...,...,...,...,...,...,...
178,0.331445,-0.390796,-1.660010,-0.979621,0.501253,-0.202863,0.234624,3.06
179,0.187283,-1.311597,-0.921993,-0.600181,-0.280848,-0.202863,-0.707343,2.86
180,-0.502185,-0.873120,-1.484292,-0.600181,0.110202,-0.684333,-0.006344,3.00
181,0.275034,0.880788,1.292058,1.151078,0.892303,0.836100,0.782279,3.26
182,-0.000754,0.223072,-0.886849,-1.096371,-0.671898,-0.684333,-0.291125,3.32

In [14]:
X8 = {'I_no':[],'S1':[],'S2':[],'S3':[],'S4':[],'S5':[],'S6':[],'S7':[]}
Y8 = {"target":[]}
for i in df['RN'].unique():
    
    if len(df[df['RN'] == i]['sgpa']) == 8:
        X8['I_no'].append(df[df['RN']==i]['I_MARKS'].iloc[0])
        for index,value in enumerate(df[df['RN'] == i][:7]['sgpa']):
            X8['S{}'.format(index+1)].append(value)
for i in df['RN'].unique():
    if len(df[df['RN'] == i]['sgpa']) == 8:
        Y8['target'].append(df[df['RN'] == i].iloc[7]['sgpa'])

In [15]:
df_8th = pd.concat([pd.DataFrame(X8),pd.DataFrame(Y8)],axis = 1)
print("Train and target variables for 8th semester")
df_8th

Train and target variables for 8th semester

     I_no    S1    S2    S3    S4    S5    S6    S7  target
0     906  3.59  3.68  3.87  3.57  3.58  3.64  3.26    3.77
1     905  2.92  2.87  3.09  2.86  2.72  3.17  2.92    3.24
2     863  3.09  3.23  3.02  3.21  3.09  2.96  2.88    3.57
3     882  2.62  3.09  3.00  2.68  2.65  3.13  3.00    3.43
4     904  3.29  3.06  3.19  3.15  3.32  3.30  3.34    3.47
..    ...   ...   ...   ...   ...   ...   ...   ...     ...
178   858  2.98  2.59  2.72  3.16  2.94  3.11  3.06    3.33
179   835  2.77  2.80  2.85  2.88  2.94  2.68  2.86    3.16
180   725  2.87  2.64  2.85  3.02  2.75  3.00  3.00    3.01
181   849  3.27  3.43  3.45  3.30  3.35  3.36  3.26    3.47
182   805  3.12  2.81  2.68  2.74  2.75  2.87  3.32    2.86

[183 rows x 9 columns]

In [16]:
scaled_8thsem = pd.DataFrame(StandardScaler().fit_transform(df_8th.iloc[:,:-1]),
                            columns = df_8th.columns[:-1])
print("Scaled 8th semester data ")
scaled_8thsem = pd.concat([scaled_8thsem,df_8th['target']],axis = 1)
scaled_8thsem

Scaled 8th semester data

,I_no,S1,S2,S3,S4,S5,S6,S7,target
0,0.632304,2.283914,2.170649,2.376960,1.646472,1.418932,1.395653,0.602329,3.77
1,0.626036,-0.653882,-0.675987,0.100323,-0.336712,-0.760355,0.366061,-0.073418,3.24
2,0.362784,0.091529,0.589184,-0.103991,0.640913,0.177245,-0.093969,-0.152917,3.57
3,0.481874,-1.969313,0.097173,-0.162366,-0.839491,-0.937739,0.278436,0.085582,3.43
4,0.619768,0.968483,-0.008258,0.392199,0.473320,0.760078,0.650842,0.761329,3.47
...,...,...,...,...,...,...,...,...,...
178,0.331445,-0.390796,-1.660010,-0.979621,0.501253,-0.202863,0.234624,0.204831,3.33
179,0.187283,-1.311597,-0.921993,-0.600181,-0.280848,-0.202863,-0.707343,-0.192667,3.16
180,-0.502185,-0.873120,-1.484292,-0.600181,0.110202,-0.684333,-0.006344,0.085582,3.01
181,0.275034,0.880788,1.292058,1.151078,0.892303,0.836100,0.782279,0.602329,3.47
182,-0.000754,0.223072,-0.886849,-1.096371,-0.671898,-0.684333,-0.291125,0.721579,2.86

In [17]:
df_8th.iloc[:,:-1].describe()

,I_no,S1,S2,S3,S4,S5,S6,S7
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,805.120219,3.069126,3.062350,3.055628,2.980546,3.020055,3.002896,2.956940
std,159.980963,0.228688,0.285327,0.343550,0.358992,0.395707,0.457744,0.504527
min,0.000000,2.140000,1.890000,1.440000,0.670000,0.000000,0.000000,0.000000
25%,817.500000,2.930000,2.910000,2.870000,2.790000,2.800000,2.820000,2.810000
50%,844.000000,3.100000,3.080000,3.040000,2.990000,3.050000,3.010000,3.020000
75%,874.500000,3.230000,3.230000,3.260000,3.200000,3.245000,3.270000,3.210000
max,936.000000,3.590000,3.740000,3.870000,3.860000,3.820000,3.830000,3.820000

In [18]:
df_8th.iloc[:,:-1].corr()

,I_no,S1,S2,S3,S4,S5,S6,S7
I_no,1.000000,0.081146,0.046536,0.077233,0.101400,0.036989,0.016815,0.002412
S1,0.081146,1.000000,0.302365,0.367928,0.328496,0.349100,0.304877,0.253960
S2,0.046536,0.302365,1.000000,0.724270,0.647746,0.642876,0.540834,0.460572
S3,0.077233,0.367928,0.724270,1.000000,0.748584,0.662057,0.646376,0.521311
S4,0.101400,0.328496,0.647746,0.748584,1.000000,0.744178,0.776215,0.722043
S5,0.036989,0.349100,0.642876,0.662057,0.744178,1.000000,0.765873,0.636469
S6,0.016815,0.304877,0.540834,0.646376,0.776215,0.765873,1.000000,0.778574
S7,0.002412,0.253960,0.460572,0.521311,0.722043,0.636469,0.778574,1.000000

In [19]:
df_7th.shape

(183, 8)

# ------------------------------------------

# MileStone 2
### applying ML algorithms

In [20]:
import keras

In [21]:
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam,RMSprop
from keras import initializers
from sklearn.model_selection import train_test_split

In [22]:
X = df_7th.iloc[:,:-1]
Y = df_7th.iloc[:,-1]
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size = 0.10,random_state = 54)

In [35]:
len(xtrain),len(xtest)

(164, 19)

In [23]:
def Model():
    model = Sequential()
    model.add(Dense(16,activation = 'relu',
                    kernel_initializer= initializers.RandomNormal(stddev = 0.1),
                    bias_initializer = initializers.zeros()
                    ,input_shape = (7,)))
    model.add(Dense(8,activation = 'relu'))
    model.add(Dense(1,activation = 'linear'))
    model.compile(optimizer=Adam(),loss = 'mae',metrics = ['mse'])
    return model

In [24]:
model = Model()
model.fit(xtrain,ytrain,epochs = 100,batch_size = 10,validation_data = (xtest,ytest))

Epoch 1/100
17/17 [==============================] - 0s 12ms/step - loss: 3.9377 - mse: 26.6054 - val_loss: 0.7283 - val_mse: 0.6283
Epoch 2/100
17/17 [==============================] - 0s 3ms/step - loss: 0.8388 - mse: 0.9978 - val_loss: 0.3752 - val_mse: 0.1881
Epoch 3/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4666 - mse: 0.5394 - val_loss: 0.2861 - val_mse: 0.1252
Epoch 4/100
17/17 [==============================] - 0s 3ms/step - loss: 0.4404 - mse: 0.5053 - val_loss: 0.2636 - val_mse: 0.1042
Epoch 5/100
17/17 [==============================] - 0s 3ms/step - loss: 0.5001 - mse: 0.5700 - val_loss: 0.6275 - val_mse: 0.5070
Epoch 6/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4951 - mse: 0.5459 - val_loss: 0.2674 - val_mse: 0.1092
Epoch 7/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4013 - mse: 0.4363 - val_loss: 0.2602 - val_mse: 0.1030
Epoch 8/100
17/17 [==============================] - 0s 3ms/step - loss: 0.4207 - mse: 0.4541 - val_loss: 0.2621 - val_mse: 0.1052
Epoch 9/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5117 - mse: 0.5003 - val_loss: 0.3055 - val_mse: 0.1440
Epoch 10/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4765 - mse: 0.4801 - val_loss: 0.2457 - val_mse: 0.0923
Epoch 11/100
17/17 [==============================] - 0s 3ms/step - loss: 0.5018 - mse: 0.5056 - val_loss: 0.2461 - val_mse: 0.0905
Epoch 12/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4290 - mse: 0.4129 - val_loss: 0.2466 - val_mse: 0.0944
Epoch 13/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4155 - mse: 0.3975 - val_loss: 0.3059 - val_mse: 0.1447
Epoch 14/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4031 - mse: 0.3648 - val_loss: 0.6637 - val_mse: 0.5379
Epoch 15/100
17/17 [==============================] - 0s 3ms/step - loss: 0.5133 - mse: 0.4828 - val_loss: 0.2916 - val_mse: 0.1312
Epoch 16/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4594 - mse: 0.4072 - val_loss: 0.2847 - val_mse: 0.1242
Epoch 17/100
17/17 [==============================] - 0s 3ms/step - loss: 0.4753 - mse: 0.4176 - val_loss: 0.2540 - val_mse: 0.0979
Epoch 18/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4653 - mse: 0.3594 - val_loss: 0.4160 - val_mse: 0.2247
Epoch 19/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3730 - mse: 0.3085 - val_loss: 0.2675 - val_mse: 0.1043
Epoch 20/100
17/17 [==============================] - ETA: 0s - loss: 0.3639 - mse: 0.206 - 0s 3ms/step - loss: 0.3809 - mse: 0.3161 - val_loss: 0.2332 - val_mse: 0.0849
Epoch 21/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3754 - mse: 0.3072 - val_loss: 0.3562 - val_mse: 0.1864
Epoch 22/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3403 - mse: 0.2802 - val_loss: 0.2386 - val_mse: 0.0857
Epoch 23/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3640 - mse: 0.3021 - val_loss: 0.2184 - val_mse: 0.0730
Epoch 24/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3081 - mse: 0.2361 - val_loss: 0.2299 - val_mse: 0.0813
Epoch 25/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3004 - mse: 0.2382 - val_loss: 0.2220 - val_mse: 0.0742
Epoch 26/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3010 - mse: 0.2495 - val_loss: 0.5170 - val_mse: 0.3295
Epoch 27/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4844 - mse: 0.3842 - val_loss: 0.5717 - val_mse: 0.3881
Epoch 28/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3320 - mse: 0.2574 - val_loss: 0.3198 - val_mse: 0.1365
Epoch 29/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3478 - mse: 0.2706 - val_loss: 0.3558 - val_mse: 0.1676
Epoch 30/100
17/17 [==============================] - 0s 3ms/step - loss: 0.3838 - mse: 0.2918 - val_loss: 0.2084 - val_mse: 0.0657
Epoch 31/100
17/17 [==============================] - 0s 3ms/step - loss: 0.3113 - mse: 0.2304 - val_loss: 0.3765 - val_mse: 0.1875
Epoch 32/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3661 - mse: 0.2684 - val_loss: 0.2770 - val_mse: 0.1178
Epoch 33/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3373 - mse: 0.2607 - val_loss: 0.3089 - val_mse: 0.1281
Epoch 34/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2974 - mse: 0.2197 - val_loss: 0.3295 - val_mse: 0.1448
Epoch 35/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3062 - mse: 0.2289 - val_loss: 0.3897 - val_mse: 0.2078
Epoch 36/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3196 - mse: 0.2229 - val_loss: 0.2112 - val_mse: 0.0649
Epoch 37/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5347 - mse: 0.4334 - val_loss: 0.5265 - val_mse: 0.3453
Epoch 38/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3718 - mse: 0.2762 - val_loss: 0.2122 - val_mse: 0.0647
Epoch 39/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2809 - mse: 0.1989 - val_loss: 0.4947 - val_mse: 0.2974
Epoch 40/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3375 - mse: 0.2447 - val_loss: 0.2249 - val_mse: 0.0772
Epoch 41/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3438 - mse: 0.2627 - val_loss: 0.3010 - val_mse: 0.1226
Epoch 42/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3823 - mse: 0.2922 - val_loss: 0.2314 - val_mse: 0.0826
Epoch 43/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3089 - mse: 0.2169 - val_loss: 0.2822 - val_mse: 0.1092
Epoch 44/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3063 - mse: 0.2215 - val_loss: 0.1980 - val_mse: 0.0604
Epoch 45/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3026 - mse: 0.2220 - val_loss: 0.2589 - val_mse: 0.1033
Epoch 46/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3367 - mse: 0.2373 - val_loss: 0.1913 - val_mse: 0.0543
Epoch 47/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3238 - mse: 0.2299 - val_loss: 0.3016 - val_mse: 0.1239
Epoch 48/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3870 - mse: 0.2693 - val_loss: 0.2116 - val_mse: 0.0617
Epoch 49/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2711 - mse: 0.1892 - val_loss: 0.2078 - val_mse: 0.0669
Epoch 50/100
17/17 [==============================] - 0s 3ms/step - loss: 0.3793 - mse: 0.2543 - val_loss: 0.1816 - val_mse: 0.0514
Epoch 51/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3088 - mse: 0.2129 - val_loss: 0.1890 - val_mse: 0.0553
Epoch 52/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3254 - mse: 0.2228 - val_loss: 0.1838 - val_mse: 0.0502
Epoch 53/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2575 - mse: 0.1677 - val_loss: 0.2071 - val_mse: 0.0670
Epoch 54/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2683 - mse: 0.1723 - val_loss: 0.2040 - val_mse: 0.0567
Epoch 55/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2774 - mse: 0.1811 - val_loss: 0.1958 - val_mse: 0.0601
Epoch 56/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3159 - mse: 0.2010 - val_loss: 0.2832 - val_mse: 0.1116
Epoch 57/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2572 - mse: 0.1685 - val_loss: 0.2338 - val_mse: 0.0751
Epoch 58/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2707 - mse: 0.1684 - val_loss: 0.6211 - val_mse: 0.4271
Epoch 59/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3618 - mse: 0.2493 - val_loss: 0.1754 - val_mse: 0.0480
Epoch 60/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2577 - mse: 0.1652 - val_loss: 0.2156 - val_mse: 0.0632
Epoch 61/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3132 - mse: 0.1994 - val_loss: 0.2569 - val_mse: 0.0922
Epoch 62/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2599 - mse: 0.1690 - val_loss: 0.1751 - val_mse: 0.0457

Epoch 63/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2688 - mse: 0.1815 - val_loss: 0.2388 - val_mse: 0.0892
Epoch 64/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2593 - mse: 0.1642 - val_loss: 0.3589 - val_mse: 0.1729
Epoch 65/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2601 - mse: 0.1781 - val_loss: 0.1950 - val_mse: 0.0511
Epoch 66/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2888 - mse: 0.1772 - val_loss: 0.1982 - val_mse: 0.0526
Epoch 67/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3122 - mse: 0.2105 - val_loss: 0.1882 - val_mse: 0.0574
Epoch 68/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2723 - mse: 0.1863 - val_loss: 0.3234 - val_mse: 0.1430
Epoch 69/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2644 - mse: 0.1690 - val_loss: 0.2350 - val_mse: 0.0765
Epoch 70/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2529 - mse: 0.1621 - val_loss: 0.2673 - val_mse: 0.0986
Epoch 71/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2429 - mse: 0.1565 - val_loss: 0.1692 - val_mse: 0.0433
Epoch 72/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3031 - mse: 0.1913 - val_loss: 0.3381 - val_mse: 0.1543
Epoch 73/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3784 - mse: 0.2508 - val_loss: 0.1981 - val_mse: 0.0526
Epoch 74/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3754 - mse: 0.2661 - val_loss: 0.1748 - val_mse: 0.0492
Epoch 75/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3947 - mse: 0.2783 - val_loss: 0.6109 - val_mse: 0.4242
Epoch 76/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5585 - mse: 0.4678 - val_loss: 0.1679 - val_mse: 0.0455
Epoch 77/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3042 - mse: 0.2037 - val_loss: 0.1775 - val_mse: 0.0512
Epoch 78/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2986 - mse: 0.1905 - val_loss: 0.2845 - val_mse: 0.1104
Epoch 79/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3636 - mse: 0.2434 - val_loss: 0.3443 - val_mse: 0.1592
Epoch 80/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3018 - mse: 0.2096 - val_loss: 0.2045 - val_mse: 0.0564
Epoch 81/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2410 - mse: 0.1441 - val_loss: 0.1851 - val_mse: 0.0462
Epoch 82/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2575 - mse: 0.1653 - val_loss: 0.1750 - val_mse: 0.0501
Epoch 83/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2617 - mse: 0.1686 - val_loss: 0.1717 - val_mse: 0.0409
Epoch 84/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3233 - mse: 0.2046 - val_loss: 0.1682 - val_mse: 0.0461
Epoch 85/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2743 - mse: 0.1705 - val_loss: 0.2140 - val_mse: 0.0622
Epoch 86/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2567 - mse: 0.1623 - val_loss: 0.2575 - val_mse: 0.0899
Epoch 87/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2947 - mse: 0.1865 - val_loss: 0.1680 - val_mse: 0.0401
Epoch 88/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2536 - mse: 0.1563 - val_loss: 0.3408 - val_mse: 0.1505
Epoch 89/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2797 - mse: 0.1725 - val_loss: 0.2965 - val_mse: 0.1216
Epoch 90/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2895 - mse: 0.2004 - val_loss: 0.2359 - val_mse: 0.0762
Epoch 91/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2493 - mse: 0.1477 - val_loss: 0.1631 - val_mse: 0.0419
Epoch 92/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3377 - mse: 0.2286 - val_loss: 0.1709 - val_mse: 0.0483
Epoch 93/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2470 - mse: 0.1481 - val_loss: 0.1633 - val_mse: 0.0403
Epoch 94/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2611 - mse: 0.1569 - val_loss: 0.3341 - val_mse: 0.1453
Epoch 95/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2946 - mse: 0.1916 - val_loss: 0.1757 - val_mse: 0.0425
Epoch 96/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2474 - mse: 0.1470 - val_loss: 0.1975 - val_mse: 0.0528
Epoch 97/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2529 - mse: 0.1530 - val_loss: 0.4771 - val_mse: 0.2622
Epoch 98/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3102 - mse: 0.1814 - val_loss: 0.1624 - val_mse: 0.0407
Epoch 99/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3129 - mse: 0.1934 - val_loss: 0.1712 - val_mse: 0.0404
Epoch 100/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2656 - mse: 0.1590 - val_loss: 0.1650 - val_mse: 0.0449

In [25]:
model.evaluate(xtest,ytest)

1/1 [==============================] - 0s 0s/step - loss: 0.1650 - mse: 0.0449

[0.1650252640247345, 0.04492146894335747]

### Now applying K-NN Regressor

In [31]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [49]:
knn = KNeighborsRegressor(n_neighbors=6)

In [50]:
knn.fit(xtrain,ytrain)

KNeighborsRegressor(n_neighbors=6)

In [51]:
pred = knn.predict(xtest)
pred

array([2.95333333, 2.89666667, 3.09333333, 3.09333333, 2.64333333,
       3.03      , 2.89      , 2.92333333, 3.17      , 2.96      ,
       3.21333333, 2.72666667, 2.72666667, 2.92333333, 3.15666667,
       3.04      , 3.08333333, 2.765     , 3.29333333])

In [52]:
mean_squared_error(ytest,pred)

0.09981593567251468